<div *ngIf="item">
  <label class="page-title" *ngIf="!createNew">{{title}}</label>
  <label class="page-title" *ngIf="createNew">{{title}}</label>
  <div class="form-container">

    <div class="card-content-grid">
      <div class="text-center image">
        <img [src]="item.image"
             [title]="item.name"
             [style.width.px]="150"
             [style.height.px]="210">
      </div>
      <div class="text-center">
        <form class="card-content-info input-align">
          <mat-form-field>
            <input matInput placeholder="Item Name" value="{{ item.name }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Item Info" value=" {{ item.itemInfo }}">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Price" value="{{ item.price |currency }}">
          </mat-form-field>
        </form>
      </div>

    </div>
    <div class="form-group create-button">
      <button class="button-secondary" (click)="close()" ><span class="button-text">Cancel</span></button>
      <button *ngIf="createNew" class="button-primary" type="submit" [disabled]="loading"><span class="button-text">Submit</span></button>
      <button *ngIf="!createNew" class="button-primary" type="submit" [disabled]="loading"><span class="button-text">submit</span></button>
    </div>
  </div>
</div>
