.width-adjust {
  width: 40%;
  padding: 10px 25px 10px 25px;
}

.image {
  float: left;
}
.input-align {
  display: inline-grid;
  padding-right: 246px;
}

.form-container {
  padding-left: 102px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 75px;
}

